name: CI

on:
  push:
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUSTFLAGS: -Dwarnings

jobs:
  fmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt

      - run: cargo fmt --check

  test:
    name: Rust ${{matrix.rust_version}} (${{matrix.os}})
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
          - macos-15-intel
        rust_version: [stable, 1.85.0]
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust_version }}
          components: clippy

      - run: cargo check
      - run: cargo check --no-default-features

      - if: runner.os != 'windows'
        run: cargo clippy --no-deps --workspace

      - if: runner.os != 'windows'
        run: cargo clippy --no-deps --workspace --no-default-features

      - run: cargo test
      - run: cargo test --no-default-features

  wasm:
    name: Rust ${{matrix.rust_version}} (WASM)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust_version: [stable, 1.85.0]
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust_version }}
          targets: wasm32-unknown-unknown
          components: clippy

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - run: cargo check --target wasm32-unknown-unknown
      - run: cargo check --no-default-features --target wasm32-unknown-unknown

      - run: cargo clippy --no-deps --workspace --target wasm32-unknown-unknown
      - run: cargo clippy --no-deps --workspace --no-default-features --target wasm32-unknown-unknown

      - run: cargo build --target wasm32-unknown-unknown
      - run: wasm-pack test --headless --chrome
      - run: wasm-pack test --headless --firefox
